scikit_image==0.16.2
numpy==1.19.5
networkx==2.4
opencv_python==4.5.1.48
geopandas==0.9.0
Keras==2.4.3
tensorflow==2.5.2
pysal==2.0.0
matplotlib==3.2.2
imagehash==4.2.0
Pillow==8.2.0
pyshp==2.1.3
skimage==0.0
